// stylelint-disable
[data-anim] {
    position: relative;
    opacity: 0;

    @media (prefers-reduced-motion) {
        transition: none;
        animation: unset;
    }

    &[data-anim="reveal"] {
        transform: scaleY(0);
    }
    &[data-anim*="abs"] {
        position: absolute;
    }
    &[data-anim*="block"] {
        overflow: hidden;

        &::after {
            content: "";
            // negative pixels to combat sub-pixel rendering
            @include _position(absolute, 0, -1px, 0, -1px);
            background-color: currentColor;
            transform: translate3d(-100%, 0, 0);
            will-change: transform;
        }

        [src] {
            opacity: 0;
        }
    }
}

.is-inview {
    &[data-anim*="fade-in-up"],
    & [data-anim*="fade-in-up"] {
        @include animate(fade-in-up);
    }

    &[data-anim="fade-in-up-stagger"],
    & [data-anim="fade-in-up-stagger"] {
        > * {
            @include animate(fade-in-up);
            @include stagger-delay(10, 0.25s, 0.1s);
        }
    }

    &[data-anim="fade-in-left"],
    & [data-anim="fade-in-left"] {
        @include animate(fade-in-left);
    }

    &[data-anim="fade-in-right"],
    & [data-anim="fade-in-right"] {
        @include animate(fade-in-right);
    }

    &[data-anim*="reveal"] {
        &::before {
            content: "";
            @include _position(absolute, 0, 0, 0, 0, 3);
            background-color: inherit;
        }

        > * {
            @include animate(fade-in-up);
            @include stagger-delay(10, 0.25s, 0.1s);
            z-index: 5;
        }
    }

    &[data-anim="reveal"] {
        @include animate(reveal);
        transform-origin: bottom;
    }

    &[data-anim="reveal-left"] {
        @include animate(reveal-left);
        transform-origin: right center;
    }

    &[data-anim="block"] {
        &::after {
            @include animate(slide-in, 1.2s, $ease-in-out-quint, 0s, forwards);
        }

        [src] {
            @include animate(fade-in, 0.1s, ease, 0.6s, forwards);
        }
    }

    // Adds Staggering Data Attribute
    $count: 10;
    $delay: 0.4s;
    $stagger: 0.2s;
    @for $i from 1 through $count {
        &[data-anim-delay="#{$i}"] {
            animation-delay: $delay + $stagger * $i;
        }
    }
}
// stylelint-enable
