///*----------------------------------*\
//  #CONTAINER WIDTH SETTINGS
//\*----------------------------------*/
//
//  Defines global container widths
//
//\*----------------------------------*/

$container-size: $global-base-width;

$container-size-sml: 740;
$container-size-med: 1100;
$container-size-lrg: 1440;
